.button{
    background-color: rgba(255, 215, 39, 0.9);
    border: none;
    color: rgb(92, 92, 92);
    font-size: 16px;
    height: 35px;
    font-family: sans-serif;

    &:hover:enabled{
        background-color: rgb(255, 215, 39);
        transform: scale(1.01);
        cursor: pointer;
    }

    &:active:enabled{
        box-shadow: 0px 0px 8px #0007;
        transform: scale(1);
    }

    &:disabled{
        opacity: 0.7;
    }
}

.button-new-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 80px;
    width: 180px;
}

.button-add{
    margin-left: 35%;
    width: 30%;
}

.copyright{
    margin: 40px 0px 40px 40px;
    font-size: 10px;
    height: 10px;
}

.form-array{
    display: flex;
    justify-content: space-around;
}

.form-container{
    margin-left: 50px;
    max-width: 220px;
}

.form-group{
    display: flex;
    margin-top: 4px;
}

.form-input{
    border-radius: 4px 0px 0px 4px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
    font-family: sans-serif;
    padding: 0px;
    padding-left: 6px;
    margin: 0px;
    height: 30px;
    width: 65px;
    -moz-appearance: textfield;

    &.ng-touched.ng-invalid{
        padding-left: 3px;
        border-left: 3px solid #e44848;
    }
}

.form-shots{
    border-bottom: 2px solid #fff3;
    padding-top: 10px;
    padding-bottom: 30px;
}

.game-board{
    justify-content: center;
    margin: 30px 60px 50px 80px;
}

.game-username-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-username{
    text-align: center;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    width: 150px;
}

.game-point{
    text-align: center;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
}

.game-table{
    display: flex;
    flex-direction: column-reverse;
}

.game-row{
    display: flex;
    justify-content: center;

    &:first-child{
        color: rgb(119, 119, 119);
    }
}

.game-move-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    width: 5%;
}

.game-row-result{
    background-color: whitesmoke;
    border-bottom: 2px solid rgb(3,155,230);
    display: flex;
    justify-content: space-around;
    margin: 0px;
    width: 90%;
    height: 45px;
}

.game-info{
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-align: center;
    opacity: 0.6;
    width: 5%;

    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.shots-container{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.shots-header{
    min-width: fit-content;
}

.shots-number{
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 0px;

    &:first-child{
        margin-top: 40px;
    }
}

.shot-username{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0px;
    margin-top: 12px;
}

.shot-factor-container{
    background-color: rgb(58, 58, 58);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 84px;
}

.shot-radio-container{
    border: none;
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    height: 24px;
    width: 24px;
    
    label, input{
        border: none;
        outline: none;
        display: block;
        position: absolute;
    }

    input{
        opacity: 0;

        &:checked+label{
            background-color: transparent;
            color: whitesmoke;
        }
    }

    label{
        align-items: center;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        font-size: 14px;
        text-align: center;
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;

        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }
    }
}

.shot-last-label{
    border-radius: 0px 8px 8px 0px;
}

.header{
    border-bottom: 2px solid #fff3;
    display: flex;
    justify-content: space-between;
    height: 140px;
}

.text{
    color: whitesmoke;
    font-family: sans-serif;
}

.text-winner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.lider{
    position: relative;

    &::after{
        display: inline-block;
        color: rgb(0, 255, 0);
        content: "\263A";
        font-size: 24px;
        position: absolute;
        padding: 0px;
        margin: 0px;
        margin-left: 5px;
        color: rgb(0, 255, 0);
        height: 0px;
        top: -3px;
    }
}