<div class="header">
    <app-copyright class="copyright"></app-copyright>
    <button class="button button-new-game" (click)="startNewGame()">
        New game
    </button>
</div>
<div class="form-shots">
    <div class="shots-container">
        <div class="shots-header">
            <p class="shots-number text" *ngFor="let dartNumber of dartsInMove; index as i" >Dart {{i + 1}}</p>
        </div>
        <form class="form" [formGroup]="pointsForm">
            <div class="form-array" formArrayName="playersShots">
                <div class="form-container" *ngFor="let player of players; index as i" [formGroupName]="i">
                    <p class="shot-username text">{{player.username}}</p>
                    <div class="form-group" *ngFor="let dartNumber of dartsInMove; index as j" [formGroupName]="j">
                        <input type="number" class="form-input" formControlName="shot"/>
                        <div class="shot-factor-container">
                            <div class="shot-radio-container">
                                <input id="radio1{{i}}{{j}}" type="radio" formControlName="factor" [value]=1/>
                                <label for="radio1{{i}}{{j}}">1x</label>
                            </div>
                            <div class="shot-radio-container">
                                <input id="radio2{{i}}{{j}}" type="radio" formControlName="factor" [value]=2/>
                                <label for="radio2{{i}}{{j}}">2x</label>
                            </div>
                            <div class="shot-radio-container">
                                <input id="radio3{{i}}{{j}}" type="radio" formControlName="factor" [value]=3/>
                                <label class="shot-last-label" for="radio3{{i}}{{j}}">3x</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <button class="button button-add" (click)="saveShots()" [disabled]="isEndGame">Add</button>
</div>
<div class="game-board">
    <div class="game-username-container">
        <p class="text game-username" *ngFor="let player of players" [ngClass]="{'lider': player.points === closestPoint}">
            {{player.username}}
        </p>
    </div>
    <div class="game-row" *ngFor="let move of points; index as i">
        <p class="text game-move-number" *ngIf="(points.length - i - 1) !== 0">{{points.length - i - 1}}</p>
        <div class="game-row-result">
            <p class="game-point" *ngFor="let point of move">{{point}}</p>
        </div>
        <button class="text game-info" *ngIf="(points.length - i - 1) !== 0" (mousedown)="getMoveInfo(i)" (mouseup)="getMoveInfo(i)">&#9432;</button>
    </div>
</div>
<app-winner-popup *ngIf="winners !== null" [winners]="winners" (restart)="restart()"></app-winner-popup>