<div class="copyright">
    <app-copyright></app-copyright>
</div>
<form 
    class="container-selection" 
    [formGroup]="form">
    <p class="text text-select">
        Select players
    </p>
    <div class="container-instrument">
        <div class="container-search">
            <input 
                class="input-search" 
                type="search" 
                placeholder="Search" 
                (input)="search($event)"/>
            <span class="searcher"></span>
        </div>
        <a 
            class="button button-add"
            routerLink="/add_player"
            >
            New player
        </a>
    </div>
    <div 
        class="list-player" 
        formArrayName="players">
        <p 
            class="list-row" 
            *ngIf="players.length === 0">
            There are no players. Please add a new player.
        </p>
        <div 
            class="list-row" 
            *ngFor="let player of players; index as i"
            [formGroupName]="i">
            <input 
                type="checkbox" 
                formControlName="player"
                (input)="selectPlayer(player.id)"/>
            <p class="list-name">
                {{player.username}}
            </p>
            <p class="list-email">
                {{player.email}}
            </p>
            <div class="list-remove">
                <button 
                    class="button-delete" 
                    (click)="removePlayer(player.id)">
                    &#10006;
                </button>
            </div>
        </div>
    </div>
    <p class="text text-select">
        Choose game
    </p>
    <div class="game-selector-container">
        <div class="game-selector">
            <input 
                id="game501"
                type="radio"
                formControlName="gameType"
                [value]=gameTypes.Game501/>
            <label for="game501">
                501
            </label>
        </div>
        <div class="game-selector">
            <input 
                id="game301"
                type="radio"
                formControlName="gameType"
                [value]=gameTypes.Game301/>
            <label for="game301">
                301
            </label>
        </div>
    </div>
    <a 
        class="button button-start" 
        [routerLink]="['/game', {gameType: gameType}]"
        [ngClass]="{'button-disabled': selectedPlayers | async}"
        >
        Start
    </a>
</form>