button{
    border: none;
    border-radius: 5px;
    height: 45px;
    font-family: sans-serif;
}

.button-add{
    width: 49.5%;
    box-sizing: border-box;
    font-size: 18px;
    color: rgb(92, 92, 92);
    background-color: rgba(255, 215, 39, 0.9);

    &:hover{
        background-color: rgb(255, 215, 39);
        transform: scale(1.01);
    }

    &:active{
        transform: scale(1);
        box-shadow: 0px 0px 8px #0007;
    }
}

.button-game{
    border: none;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0.9);
    font-size: 28px;
    color: rgba(70, 70, 70, 0.9);
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 60px;
    font-weight: bold;

    &:hover{
        background-color: rgb(240, 248, 255);
        transform: scale(1.01);
    }

    &:active{
        transform: scale(1);
        box-shadow: 0px 0px 8px #0007;
    }
}

.button-start{
    background: rgba(56, 194, 97, 0.9);
    width: 100%;
    font-size: 22px;
    color: rgb(216, 216, 216);
    font-weight: bold;

    &:hover:enabled{
        background-color: rgb(56, 194, 97);
        transform: scale(1.01);
    }

    &:active:enabled{
        transform: scale(1);
        box-shadow: 0px 0px 8px #0007;
    }

    &:disabled{
        color: rgb(167, 167, 167);
        background: rgba(56, 194, 97, 0.753);
    }
}

.button-delete {
    position: absolute;
    right: 5px;
    top: -12px;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    background: transparent;

    &:hover{
        opacity: 1;
    }

    &::before, &::after{
        position: absolute;
        left: 11px;
        top: 5px;
        content: ' ';
        height: 15px;
        width: 2px;
        background-color: rgb(3,155,230);
    }

    &::before{
        transform: rotate(45deg);
    }

    &::after{
        transform: rotate(-45deg);
    }
}

.container-instrument{
    display: flex;
    margin-bottom: 7px;
    margin-top: 30px;
    position: relative;
}

.container-selection{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.container-search{
    position: relative;
    width: 49.5%;
    margin-right: 7px;
}

.header{
    margin: 40px 0px 40px 40px;
    width: fit-content;

    :first-child{
        font-size: 21px;
        height: 16px;
        margin-left: 2px;
    }

    :nth-child(2){
        font-size: 39px;
        font-weight: 700;
        height: 39px;
    }
    
    :last-child{
        float: right;
        font-size: 9px;
        padding-right: 3px;
    }

    p{
        margin: 0;
    }
}

.input-search{
    font-size: 18px;
    font-family: sans-serif;
    outline: none;
    padding: 12px 0px 12px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;

    &::placeholder{
        opacity: 0.3;
    }
}

.list-player{
    margin-bottom: 50px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
    font-family: sans-serif;
    border-collapse: collapse;
    box-sizing: border-box;
}

.list-row{
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 10px;
    height: 50px;
    align-items: center;
    background-color: aliceblue;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(3,155,230);
}

.selected-player{
    transform: scale(0.99);
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px rgb(3,155,230);
}

.selected-game{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #000;
    opacity: 1;
}

.list-name{
    width:50%;
    user-select: none;
}

.list-email{
    width:50%;
    user-select: none;
}

.list-remove{
    position: relative;
    width: 0px;
    box-sizing: border-box;
}

.lupa{
    height:20px;
    width:20px;
    display:block;
    position:absolute;
    right: 20px;
    top: 10px;

    &::after, &::before{
        content:'';
        height:12px;
        display:block;
        position:absolute;
        top:0; left:0; 
    }

    &::before{
        width:12px;
        border:3px rgb(183, 209, 222) solid;
        border-radius:100%;
        -webkit-border-radius:100%;
        -moz-border-radius:100%;
    }

    &::after{
        width:4px;
        background:rgb(183, 209, 222); 
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg); 
        top:12px; left:17px;
    }
}

.text{
    font-family: sans-serif;
    color: whitesmoke;
}

.text-select{
    font-size: 18px;
}