<div class="header">
    <p class="text">COUNT YOUR</p>
    <p class="text">POINTS</p>
    <p class="text">&#169; SoftClub edition</p>
</div>
<div class="container-selection">
    <p class="text text-select">Select players</p>
    <div class="container-instrument">
        <div class="container-search">
            <input #searchBox class="input-search" type="search" placeholder="Search" (input)="search(searchBox.value)"/>
            <span class="lupa"></span>
        </div>
        <button class="button button-add" (click)="addPlayer()">New player</button>
    </div>
    <div class="list-player">
        <div class="list-row" *ngFor="let player of players" (click)="selectPlayer(player.id)" (keypress)="selectPlayer(player.id)" tabindex="1" [ngClass]="{'selected-player': player.isSelected}">
            <div class="list-name">
                {{player.username}}
            </div>
            <div class="list-email">
                {{player.email}}
            </div>
            <div class="list-remove">
                <button class="button-delete" (click)="removePlayer(player.id)"> </button>
            </div>
        </div>
    </div>
    <p class="text text-select">Choose game</p>
    <div>
        <button class="button-game" (click)="chooseGame(501)" [ngClass]="{'selected-game': gameType === allGameTypes.Game501}">501</button>
        <button class="button-game" (click)="chooseGame(301)" [ngClass]="{'selected-game': gameType === allGameTypes.Game301}">301</button>
    </div>
    <button class="button button-start" [disabled]="!(gameType) || selectedPlayersNumber === 0" (click)="start()">Start</button>
</div>