button {
    border: none;
    border-radius: 5px;
    height: 45px;
    font-family: sans-serif;
    opacity: 0.9;

    &:hover:enabled {
        opacity: 1;
        transform: scale(1.01);
    }

    &:active:enabled {
        box-shadow: 0px 0px 8px #0007;
        transform: scale(1);
    }
}

.button-add {
    background-color: rgba(255, 215, 39);
    box-sizing: border-box;
    color: rgb(92, 92, 92);
    font-size: 18px;
    width: 49.5%;
}

.button-game {
    background-color: rgba(240, 248, 255);
    border: none;
    border-radius: 50%;
    color: rgba(70, 70, 70);
    font-size: 28px;
    font-weight: bold;
    height: 120px;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 60px;
}

.button-start {
    background: rgba(56, 194, 97);
    color: rgb(216, 216, 216);
    font-size: 22px;
    font-weight: bold;
    width: 100%;

    &:disabled {
        background: rgba(56, 194, 97, 0.7);
        color: rgb(167, 167, 167);
    }
}

.button-delete {
    background: transparent;
    position: absolute;
    opacity: 0.5;
    right: 5px;
    top: -12px;
    height: 25px;
    width: 25px;

    &:hover {
        opacity: 1;
    }

    &::before,
    &::after {
        background-color: rgb(3, 155, 230);
        content: ' ';
        position: absolute;
        left: 11px;
        top: 5px;
        height: 15px;
        width: 2px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.container-instrument {
    display: flex;
    margin-bottom: 7px;
    margin-top: 30px;
    position: relative;
}

.container-selection {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.container-search {
    position: relative;
    margin-right: 7px;
    width: 49.5%;
}

.header {
    margin: 40px 0px 40px 40px;
    width: fit-content;

    :first-child {
        font-size: 21px;
        margin-left: 2px;
        height: 16px;
    }

    :nth-child(2) {
        font-size: 39px;
        font-weight: 700;
        height: 39px;
    }

    :last-child {
        float: right;
        font-size: 9px;
        padding-right: 3px;
    }

    p {
        margin: 0;
    }
}

.input-search {
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    outline: none;
    padding: 12px 0px 12px 20px;
    width: 100%;

    &::placeholder {
        opacity: 0.3;
    }
}

.list-player {
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
    overflow: hidden;
    margin-bottom: 50px;
    width: 100%;
}

.list-row {
    align-items: center;
    background-color: aliceblue;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(3, 155, 230);
    display: flex;
    padding-left: 20px;
    padding-right: 10px;
    height: 50px;
    width: 100%;
}

.selected-player {
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px rgb(3, 155, 230);
    transform: scale(0.99);
}

.selected-game {
    box-shadow: 0px 0px 10px #000;
    opacity: 1;
    transform: scale(1.1);
}

.list-name {
    user-select: none;
    width: 50%;
}

.list-email {
    user-select: none;
    width: 50%;
}

.list-remove {
    box-sizing: border-box;
    position: relative;
    width: 0px;
}

.lupa {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    height: 20px;
    width: 20px;

    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
    }

    &::before {
        border: 3px rgb(183, 209, 222) solid;
        border-radius: 100%;
        width: 12px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
    }

    &::after {
        background: rgb(183, 209, 222);
        transform: rotate(-45deg);
        width: 4px;
        top: 12px;
        left: 17px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }
}

.text {
    font-family: sans-serif;
    color: whitesmoke;
}

.text-select {
    font-size: 18px;
}