<div class="copyright">
    <app-copyright></app-copyright>
</div>
<form class="container-selection" [formGroup]="form">
    <p class="text text-select">
        Select players
    </p>
    <div class="container-instrument">
        <div class="container-search">
            <input 
                class="input-search" 
                type="search" 
                placeholder="Search" 
                (input)="search($event)"/>
            <span class="searcher"></span>
        </div>
        <button 
            class="button button-add" 
            (click)="addPlayer()">
            New player
        </button>
    </div>
    <div class="list-player" formArrayName="players">
        <label 
            class="list-row" 
            *ngFor="let player of players; index as i"
            [formGroupName]="i">
            <input 
                type="checkbox" 
                formControlName="player"
                (input)="selectPlayer(i)"/>
            <div class="list-name">
                {{player.username}}
            </div>
            <div class="list-email">
                {{player.email}}
            </div>
            <div class="list-remove">
                <button 
                    class="button-delete" 
                    (click)="removePlayer(player.id)">
                </button>
            </div>
        </label>
    </div>
    <p class="text text-select">
        Choose game
    </p>
    <div class="game-selector-container">
        <div class="game-selector">
            <input 
                id="game501"
                type="radio"
                formControlName="gameType"
                [value]=501/>
            <label for="game501">
                501
            </label>
        </div>
        <div class="game-selector">
            <input 
                id="game301"
                type="radio"
                formControlName="gameType"
                [value]=301/>
            <label for="game301">
                301
            </label>
        </div>
        <!-- <button 
            class="button-game" 
            (click)="chooseGame(501)" 
            [ngClass]="{'selected-game': gameType === allGameTypes.Game501}">
            501
        </button>
        <button 
            class="button-game" 
            (click)="chooseGame(301)" 
            [ngClass]="{'selected-game': gameType === allGameTypes.Game301}">
            301
        </button> -->
    </div>
    <button 
        class="button button-start" 
        [disabled]="selectedPlayersNumber === 0" 
        (click)="start()">
        Start
    </button>
</form>