:host{
    width: fit-content;

    :first-child{
        font-size: 2.1em;
        margin-left: 2px;
        height: 0.7em;
    }

    :nth-child(2){
        font-size: 3.9em;
        font-weight: 700;
        height: 1em;
    }
    
    :last-child{
        float: right;
        font-size: 0.9em;
        padding-right: 3px;
    }

    p{
        margin: 0;
    }
}

.text{
    color: whitesmoke;
    font-family: sans-serif;
}